[submodule "pointy"]
	path = pointy
	url = git@github.com:raunakchowdhury/MKS65C-pointy.git
[submodule "euler"]
	path = euler
	url = git@github.com:raunakchowdhury/MKS65C-Euler.git
[submodule "swap"]
	path = swap
	url = git@github.com:raunakchowdhury/MKS65C-swap.git
